#banniere_tholdi
{
    height: 450px;
}

#banniere
{
    width: 100%;
    height: 100%;
}

#tholdi
{
    margin-top: -47%;
}

#logo_tholdi
{
    margin-top: -275%;
    width:100%;
    height: 100%;
}

#titre_tholdi
{
    margin-top: -70%;
    width: 100%;
    height: 100%;
}

body
{
    background-color: #8CC6D7;
}

#navigation
{
    margin-top: -13%;
}

a
{
    text-decoration: none;
    border: 10% solid black;
}


#pied_page
{
    width: 100%;
    height: 100%;
}

#barre
{
    width:2px;
    height: 300px;
    margin-top: 5%;
}

#retour
{
    width: 90px;
    height: 90px;
    margin-top: -200%;
}

.adresse
{
    font-family: impact, sans-serif;
    color: #FF9900;
}

@font-face
{
    font-family: 'cac_champagneregular';
    src: url('font/cac_champagne-webfont.eot');
    src: url('font/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/cac_champagne-webfont.woff') format('woff'),
        url('font/cac_champagne-webfont.ttf') format('truetype'),
        url('font/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.pays
{
    font-family: 'cac_champagneregular', sans-serif;
}

#presentation
{
    text-align: justify;
}

.texte
{
    color: #E6E2AF;
}

footer
{
    background-image: url(../images/footer.png);
}

#haut
{
    width: 123px;
    height: 123px;
}

a:hover
{
    font-size: 150%;
}

h2
{
    font-family: impact, sans serif;
    color: #E6E2AF;
}

.pied_de_page
{
    text-decoration: none;
    border: 3px solid #FF5900;
    border-radius: 10px;
    width: 50%;
    background-color: #FFFFFF;
}

li ul li
{
    list-style: none;
    position: relative;
}

li ul li a
{
    text-decoration: none;
    display: block;
    text-align: center;
}

ul ul
{
    position: absolute;
    visibility: hidden;	
}

ul li:hover ul
{
    visibility: visible;

}

ul ul a:hover
{
    text-decoration: none;
    background-color: #FF9900;
    border-radius: 10px;
}

td
{
    border: 10px double #6E81BD;
}
table
{
    text-align: center;
}
